.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#122c5b, #0066b2);
  
    .loginBox {
      border-radius: 5px;
      padding: 20px;
      max-width: 500px;
      width: 900px;
      color: #ffffff;
      font-weight: bold;
      background-image: linear-gradient(#0066b2, #122c5b);
      text-align: center;
      
  
      #input {
        display: block;
        width: 100%;
        margin-block: 5px;
        text-align: left;
      }
  
      input {
        padding: 5px;
        color: #00308f;
        font-weight: bold;
        border-radius: 4px;
        border: none;
      }
  
      input:focus {
        outline: none;
      }
  
      .passwords {
        display: flex;
        align-items: center;
        gap: 5px;
      }
  
      #passwordEye {
        cursor: pointer;
      }
  
      button {
        background-image: linear-gradient(to right, #0b5d9b, #0091ff);
        color: white;
        border: none;
        margin-top: 16px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
      }

      #link{
        color: white;
      }
      #link:hover{
        color: rgba(255, 255, 255, 0.761);
      }
    }
  }
  